<div class="p-2">
  <!-- Consultar empleados header -->
  <div class="row mx-0">
    <div class="col-1">
      <button class="btn btn-danger">Back</button>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
      <span>Consultar Empleados</span>
    </div>
    <div class="col-1"></div>
  </div>

  <!-- Staff details container -->
  <div class="my-3 px-4">
    <!-- Detalles -->
    <div class="my-3">
      <label>Detalles</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="ID"
          aria-label="Id"
          aria-describedby="staff-id"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Nombre"
          aria-label="Nombre del empleado"
          aria-describedby="nombre del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Apellido"
          aria-label="Apellido del empleado"
          aria-describedby="apellido del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="Email del empleado"
          aria-describedby="email del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Teléfono"
          aria-label="Telefono del empleado"
          aria-describedby="telefono del empleado"
        />
      </div>

      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Sueldo"
          aria-label="Sueldo del empleado"
          aria-describedby="sueldo del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Rol"
          aria-label="Rol del empleado"
          aria-describedby="rol del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Sexo"
          aria-label="Sexo del empleado"
          aria-describedby="sexo del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Fecha de nacimiento"
          aria-label="Fecha de nacimiento del empleado"
          aria-describedby="fecha de nacimiento del empleado"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Fecha de contratación"
          aria-label="Fecha de contratacion del empleado"
          aria-describedby="fecha de contratacion del empleado"
        />
      </div>
    </div>

    <!-- Direction -->
    <div class="my-3">
      <label>Dirección:</label>
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Colonia"
          aria-label="Colonia"
        />
        <button
          type="button"
          class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <span class="visually-hidden">Colonia</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item">Colonia 1</a></li>
          <li><a class="dropdown-item">Colonia 2</a></li>
          <li><a class="dropdown-item">Colonia 3</a></li>
        </ul>
        <input
          type="text"
          class="form-control"
          placeholder="Calle 1"
          aria-label="Calle 1"
          aria-describedby="calle-1"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Calle 2"
          aria-label="Calle 2"
          aria-describedby="calle-2"
        />
        <input
          type="text"
          class="form-control"
          placeholder="No. Interior"
          aria-label="No. Interior"
          aria-describedby="no-interior"
        />
        <input
          type="text"
          class="form-control"
          placeholder="No. Exterior"
          aria-label="No. Exterior"
          aria-describedby="no-exterior"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Código Postal"
          aria-label="Codigo Postal"
          aria-describedby="codigo-postal"
        />
      </div>
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Descripción"
          id="descripcionTextArea"
        ></textarea>
        <label for="descripcionTextArea">Descripción</label>
      </div>
    </div>

    <!-- Buttons -->
    <div class="row mx-0 my-5 justify-content-center">
        <div class="col-auto">
            <button class="btn btn-success">Guardar</button>
        </div>
        <div class="col-auto">
            <button class="btn btn-danger">Eliminar</button>
        </div>
    </div>
  </div>
</div>
