<div class="staff-container p-2">
  <!-- Consultar empleados header -->
  <div class="row mx-0">
    <div class="col-auto">
      <button class="btn btn-danger">Back</button>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <span>Consultar Empleados</span>
    </div>
    <div class="col input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar empleado"
        aria-label="Buscar empleado"
        aria-describedby="buscar-empleado"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-empleado"
      >
        Search
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-empleado2"
      >
        Filter
      </button>
    </div>
  </div>

  <!-- Consultar empleado content -->
  <div class="staff-details-container my-3 px-4">
    <table class="table" aria-labelledby="details">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Email</th>
          <th scope="col">Contraseña</th>
          <th scope="col">Teléfono</th>
          <th scope="col">Sueldo</th>
          <th scope="col">Fecha de nacimiento</th>
          <th scope="col">Fecha de contratación</th>
          <th scope="col">Sexo</th>
          <th scope="col">Rol</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
        <tr>
          <td>xxxx</td>
          <td>xxxx xxx</td>
          <td>@xxxxx xxxx</td>
          <td>xxxxx@xxxx.xxx</td>
          <td>xxxxxxx</td>
          <td>@xxxxxxxxxx</td>
          <td>xx,xxx.xx</td>
          <td>xx/xx/xxxx</td>
          <td>xx/xx/xxxx</td>
          <td>xxxxxxxxx</td>
          <td>xxxxxxxx</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
