<div class="container p-5 mb-2  ">
    <div class="row">
        <!-- Form -->
        <div class="col-md pt-4 div-effect">
        <form >
            <div class="form-group">
                <label for="exampleInputEmail1">Correo</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mt-2">
                <label for="exampleInputPassword1">Contraseña</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary mt-3 mb-3">Iniciar sesión</button>
        </form>
        </div>
        <!-- Image -->
        <div class="col-md text-light text-align-center" style="background-image: url('/src/img/bg-1.jpg');">
            <h1>
                Diversiones Fantasy
                <img src="./assets/img/bg-1.jpg">
            </h1>
        </div>
        
    </div>

</div>