.div-effect{
	background: rgba(238, 235, 235, 0.781);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(12.7px);
	margin: 0;
	top: 50%;
}
	  
.bg-dfantasy{

	background-color: beige;
}

