<div class="consultar-pedidos-container p-2">
  <!-- Consultar pedidos header -->
  <div class="row mx-0">
    <div class="col-auto">
      <button class="btn btn-danger">Back</button>
    </div>
    <div class="col-5 d-flex justify-content-center align-items-center">
      <span>Consultar Pedidos</span>
    </div>
    <div class="col input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar pedido"
        aria-label="Buscar pedido"
        aria-describedby="buscar-pedido"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-pedido"
      >
        Search
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-pedido2"
      >
        Filter
      </button>
    </div>
  </div>

  <!-- Consultar pedidos table container -->
  <div class="consultar-pedidos-table-container my-3 px-4">
    <table class="table" aria-labelledby="details">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Fecha de entrega</th>
          <th scope="col">Fecha de recolección</th>
          <th scope="col">Consumidor</th>
          <th scope="col">Dirección</th>
          <th scope="col">Transportista</th>
          <th scope="col">Estatus</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
        <tr>
          <td>x</td>
          <td>xx/xx/xx</td>
          <td>xx/xx/xx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx xxxxxxxxxx xxxx xxxx</td>
          <td>xxxxx xxxx</td>
          <td>xxxxx</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>