<div class="inventario-mobiliario-container p-2">

    <!-- Inventario mobiliario header -->
  <div class="row mx-0">
    <div class="col-5 d-flex align-items-center">
      <span>Inventario Mobiliario</span>
    </div>
    <div class="col input-group">
      <input
        type="text"
        class="form-control"
        placeholder="Buscar inventario"
        aria-label="Buscar inventario"
        aria-describedby="buscar-inventario"
      />
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-inventario"
      >
        Search
      </button>
      <button
        class="btn btn-outline-secondary"
        type="button"
        id="buscar-inventario2"
      >
        Filter
      </button>
    </div>
  </div>

  <!-- Inventario mobiliario content -->
  <div class="inventario-table-container my-3 px-4">
      <table class="table" aria-labelledby="inventory">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Existencia</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Categoría</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
          <tr>
            <td>xxxx</td>
            <td>xxxx xxxx</td>
            <td>xxx</td>
            <td>$x,xxx.xx</td>
            <td>xxxxx</td>
          </tr>
        </tbody>
      </table>
  </div>

</div>